body {
  background: #352f5b;
  font-family: "Josefin Sans", sans-serif;
  font-size: 23px;
}

.container {
  max-width: 400px;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.todos li {
  background: #423a6f;
  color: #fff;
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}

.btn:hover {
  background: #423a6f;
  color: #fff;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-radius: 13px 13px;
  transition: 0.8s;
}

.edit {
  margin-right: 10px;
  cursor: pointer;
}

.edit-input {
  width: auto;
  display: inline-block;
  margin-right: 10px;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-text {
  flex-grow: 1;
  margin: 0 10px; /* Add space around the text */
}

.toggle-completed,
.edit,
.delete {
  cursor: pointer;
}

.edit, .delete {
  margin: 0 5px;
}